{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md">
      <br>
      <h1 id="middle">Ian MacDonald Stock Picking Tool</h1>
      <p>This tool is based on Ian MacDonald's stock portfolio builder. Using his calculations, this system simplifies
        things by using the stock symbol to capture the required financial data. The resulting score is Ian's score.
        {{result}}
      </p>
    </div>
  </div>
</div>
</div>
{% endblock %}