{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md">
      <br>
      <h2 id="middle">Encode an Enigma Message</h1>
      <p>The british cracked the Enigma code during WW2, use the below page to send an enigma encoded message and see if the BOMBE machine can crack it. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <form method="post" action="/encode">
        <div class="form-group">
          <div class="row">
            <div class="col-12">
              <label for="r1">Select the rotors to use</label>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <select id="r1" name="r1" class="custom-select" required="required">
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
              </select>
            </div>
            <div class="col-4">
              <select id="r2" name="r2" class="custom-select" required="required">
                <option value="I">I</option>
                <option value="II" selected="selected">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
              </select>
            </div>
            <div class="col-4">
              <select id="r3" name="r3" class="custom-select" required="required">
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III" selected="selected">III</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="text">Secret Message</label>
          <textarea id="text" name="text" cols="40" rows="5" aria-describedby="textHelpBlock" required="required"
            class="form-control"></textarea>
          <span id="textHelpBlock" class="form-text text-muted">Enter your message to be encoded</span>
        </div>
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button id="submit" name="submit" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}